<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    
<div class="box" id="heading">
    <h1><%=day%></h1>
</div>

    <div class="box">
        <%for(let i=0;i<arr.length;i++){%>
            <form action="/delete" method="post">
        <div class="item">
            <input value="<%=arr[i]._id%>" onChange="this.form.submit()"name="checkbox"type="checkbox">
            <p><%=arr[i].name%></p>
        </div> 
    </form>
        <%}%>

        <form class="item" method="post" action="/">
            <input type="text" name="newItem" placeholder="New task"autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>
    

    



</body>
</html>